* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* GERAL */
body {
    background: #000;
    color: #fff;
}

/* TOPO MOBILE */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #000;
}

.btn-topo {
    background: #d4a253;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
}

/* BANNER MOBILE */
.hero-content {
    text-align: center;
    padding: 60px 15px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
        color: #fff;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.hero-content button {
    background: #d4a253;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
}

button {
    background: #d4a253;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
}

/* SERVIÇOS */
#servicos {
    text-align: center;
    padding: 30px 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
}


.logo {
    width: 80px;
}

.hero {
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.video-bg {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height:calc(100%-70px);
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.hero-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* FUNDO ESCURO */
.overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(3px);
  z-index: 9998;
  display: none;
}

/* POP-UP LUXO */
.popup {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: #111;
  padding: 25px;
  width: 90%;
  max-width: 350px;
  border-radius: 15px;
  border: 1px solid #d4a253;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

/* QUANDO ABRE */
.popup.ativo {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

/* TITULO */
.popup h2 {
  color: #d4a253;
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

/* LABELS */
.popup label {
  display: block;
  margin-top: 10px;
  color: #ccc;
}

/* INPUTS */
.popup input,
.popup select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  margin-top: 5px;
  background: #1b1b1b;
  color: #fff;
  font-size: 15px;
}

/* BOTÃO CONFIRMAR */
#confirmar {
  background: #d4a253;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

#confirmar:hover {
  filter: brightness(1.15);
}
